* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background:linear-gradient(90deg, #3d3932, #678caf,#597167);
  font-family: 'Crimson Pro', serif;
  background-size: 300% 300%;
  animation: gradient 8s alternate infinite;
  font-weight: 400;
  top: 0;
  left: 0;
  color: #f8f6e1;
  font-size: 19px;
  line-height: 26px;
  padding-bottom: 50px;
  height: 100%;
  width: 100%;
  
}


.container {
  max-width: 700px;
  background: #364A52;
  margin: 0px auto 0px;
  box-shadow: 8px 9px 5px #000000;
  border-width: 40px;
  padding: 40px;
  margin-top: 50px;
  border:30px ;
}

.header {
  margin-bottom: 30px;
}
.header .full-name {
  font-size: 80px;
  font-weight: 100;
  text-transform: none;
  margin-bottom: 30px;
  text-shadow: 5px 3px  0.10px #000000;
}
.header .first-name {
  font-weight: 700;
  color:#ED3401;
  word-spacing: -40%;
}
.header .last-name {
  font-weight: 700;
  color:#ED3401;
  word-spacing: -40%;
}
.header .contact-info {
  margin-bottom: 17px;
  font-kerning: auto;
}
.header .email,
.header .phone {
  color: #f5ea15;
  font-weight: 100;
  font-size: 15px;
  font-weight: 400px;
  font-kerning: auto;
  margin-inline-start: auto;
  text-shadow: 2px 1px  1px #000000;
}
.email-val {
  text-transform: none;
  font-size: 18px;
  margin-left:0.8%;
  margin-inline-start: auto;
  color:#ffffff
}
.phone-val {
  text-transform: lowercase;
  font-size: 18px;
  margin-left:0.8%;
  margin-inline-start: auto;
  color:#ffffff
}

}
.header .separator {
  height: 10px;
  display: inline-block;
  border-left: 2px solid #f8;
  margin: 10px 10px;
}
.header .position {
  font-weight:bolder ;
  display: inline;
  margin-right: 4px;
  text-decoration: ;
  color:#db6504;
  text-shadow: 1px 2px  1px #000000;
  font-size: 20PX;
}

.details {
  line-height: 20px;
  
}
.details .section {
  margin-bottom: 40px;
}
.details .section:last-of-type {
  margin-bottom: 0px;
}
.details .section__title {
  letter-spacing: 2px;
  color: #f5ea15;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-shadow: 0.5px 2px  1px #000000;
}
.details .section__list-item {
  margin-bottom: 40px;
}
.details .section__list-item:last-of-type {
  margin-bottom: 0;
}
.details .left,
.details .right {
  vertical-align: top;
  display: inline-block;
}
.details .left {
  width: 60%;
}
.details .right {
  text-align: right;
  width: 39%;
}
.details .name {
  font-weight: bold;
  color:#db6504;
  text-shadow: 1px 1.4px  1px #000000;
}
.details a {
  text-decoration: none;
  color: #000;
  font-style: italic;
}
.details a:hover {
  text-decoration: underline;
  color: #000;
}
.details .skills__item {
  margin-bottom: 10px;
}
.details .skills__item .right input {
  display: none;
}
.details .skills__item .right label {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #C3DEF3;
  border-radius: 20px;
  margin-right: 3px;
}
.details .skills__item .right input:checked + label {
  background: #79A9CE;
}


@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }